.content {
  color: black;
  font-family: helvetica, arial;
  font-size: 9px;
}
code {
  color: black;
  font-family: helvetica, arial;
  font-size: 12px;
  text-align: left;
  margin: 0;
}

.bullets > ul > li {
  padding: 15px;
}
